<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- 공통 스타일시트, 스크립트 -->
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <!-- 헤더 -->
    <button type="button" class="btn btn-primary">Home</button>
    <button type="button" class="btn btn-secondary">메뉴</button>
    <button type="button" class="btn btn-success">자유게시판</button>
    <button type="button" class="btn btn-danger">방명록</button>
    <button type="button" class="btn btn-warning">FAQ</button>
    <button type="button" class="btn btn-info">연락처</button>
    <button type="button" class="btn btn-light">정보</button>
    {% include 'header.html' %}

    <main>
        {% block content %}
        <!-- 기본 콘텐츠 -->
        {% endblock %}
        {% include 'article.html' %}

    </main>
		<!-- 푸터 -->
    {% include 'footer.html' %}
</body>
</html>